<!DOCTYPE html>
<html>
<head>
    <title>用户列表</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="shortcut icon" href="/images/logo.ico">
</head>
<body>
<h1><%= title %></h1>

<ul>
    <% for(var i = 0 ; i < users.length ; i++){ %>
    <li><%= users[i].name%>&nbsp;<%= users[i].sex%></li>
    <%}%>
</ul>
</body>
</html>
